.accueil {
    justify-content: center;
}

.accueil--image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    float: left;
    border-radius: 0 0 50% 50% / 0 0 3% 3%;
}

.accueil__titre {
    width: 95%;
    height: auto;
    position: relative;
    z-index: 2;
    padding-top: 200px;
    padding-left: 10px;
    text-align: center;
    

}

.accueil__titre--texte {
    color: var(--Or, #DDD690);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.presentation {
    padding-top: 5%;
}

.presentation__barre--haut {
    width: 245.051px;
    height: 1px;
    background: #784283;
    
}

.presentation__conteneur {
    width: 334px;
    height: 183px;
    flex-shrink: 0;
    padding-left: 4%;
}

.presentation--texte {
    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
   
}