.accueil {
    justify-content: center;
}

.accueil--image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 50% 50% / 0 0 3% 3%;
}

.accueil__titre {
    width: 95%;
    height: auto;
    position: relative;
    z-index: 2;
    padding-top: 55%;
    padding-left: 10px;
    text-align: center;
    

}

.accueil__titre--texte {
    color: var(--Or, #DDD690);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.presentation {
    padding-top: 5%;
}

.presentation__barre--haut {
    width: 245.051px;
    height: 1px;
    background: #784283;
    
}

.presentation__conteneur {
    width: 90%;
    height: auto;
    flex-shrink: 0;
    padding-left: 4%;
}

.presentation--texte {
    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
   
}

.presentation__barre--bas {
    width: 245.051px;
    height: 1px;
    background: #784283;

}

.entreeGauche {
    float: left;
}


.entreeGauche__fond--conteneur {
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    width: 98%;
    height: 140px;
  
}

.entreeGauche--fond {
    background-color: var(--rose-accentuation, #FFA8CB);
    width: 98%;
    height: 110px;
    margin-top: 30px;

}



.entreeGauche--image--conteneur {
    display: flex;
    flex-shrink: 0;
    position: relative;
    z-index: 4;
    padding-top: 6%;
       
}

.entreeGauche--image {
    width: 124.079px;
    height: 124.358px;
    border: 2px solid var(--Or, #DDD690);
    transform: translate(3%, 0%);
}

.entreeGauche__titre {
    float: right;
    width: 195.915px;
    height: 18.545px;
    flex-shrink: 0;
    text-align: right;
    padding-left: 43%;
    position: relative;
    z-index: 5;
    padding-top: 4%;
    padding-right: 6%;
}

.entreeGauche__titre__texte {
    font-family: Bodoni Moda;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

}

.entreeGauche__description--conteneur {
    float: right;
    width: 55%;
    height: auto;
    flex-shrink: 0;
    padding-right: 8%;
    position: relative;
    z-index: 5;
    padding-top: 5%;
    
}

.entreeGauche__description--texte {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.entreeGauche__bouton--conteneur {
    float: right;
    width: 140px;
    height: auto;
    flex-shrink: 0;
    padding-right: 5%;
    position: relative;
    z-index: 8;
    
}

.entreeGauche__bouton--image {

}
