

    .carrousel__img {
        /* image responsive, largeur maxi */
        max-width: 96%;
        /* hauteur "auto" */
        height: auto;
        border-radius: 20px;
        border: 4px solid #5A2E4E;
        margin-top: 10px;

    }

    .carrousel_parent-ecrans {
        /* aligne horizontalement les enfants */
        display: flex;
        /* largeur du parent */
        width: 96%;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        margin-left: 5%;

    }

    .carrousel_ecran {
        /* largeur du parent pour chaque enfant */
        flex: none;
        /* permet de garder toute la largeur du parent */
        width: 96%;
        scroll-snap-align: start
    }

    .carrousel_ecran figure {
        /* enlève les marges par défaut */
        margin: 0;
    }

    .carrousel {
        position: relative;
    }

    .carrousel_btn {
        position: absolute;
        top: calc(100vw / 16 * 9 / 2 + 1rem);
        /* centre verticalement ~50% vertical */
        transform: translateY(-50%);
        /* methode du point mort */
        width: 2rem;
        height: 2rem;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: none;
        display: grid;
        place-content: center;
        color: #fff;
    }

    .carrousel_btn-avant {
        left: 0;
    }

    .carrousel_btn-apres {
        right: 0;
    }

    .carrousel_texte {
        color: var(--Violet-titres, #510056);
        text-align: center;
        font-family: Helvetica;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 10px;
        
    }
