.texte-normal-centre {
    width: 88%;
    padding: 6%;
    color: #000;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rectangle__frise {
    z-index: 4;
    position: absolute;
    margin: 20px;
    border: none;
    width: 334px;
    height: 2375px;
    background-color: var(--Rouge-header, #9A0606);
}

.presentation__livre {
    z-index: 8;
    position: relative;
}

.presentation__livre--image--conteneur {
    width: 179px;
    height: 289px;
    padding-left: 155px;
    padding-top: 40px;
}

.presentation__livre--bouton {
    width: 136px;
    height: 39px;
    padding-left: 180px;
    
}

.presentation__livre--bouton--image {
    transform: translate(0px, 10px);

}

.presentation__rectangle {
    border: none;
    width: 44px;
    height: 17px;
    background-color: var(--rose-de-fond, #FFE0F1);
    transform: translate(-151px, -260px);
}

.presentation__date {
    font-family: Helvetica;
    color: var(--rose-de-fond, #FFE0F1);
    font-size: 21px;
    font-weight: 600;
    transform: translate(68px, -302px);
}
.espacement-grand {
    padding-top: 120px;
}