.contact__main {
    background-color: var(--rouge-accentuation-2, #A4261E);
}

.contact__titre--texte {
    color: var(--rouge-accentuation, #E5000C);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact__cadre--conteneur {
    position: absolute;
    z-index: 3;
    padding-left: 20px;
    
}

.contact {
    position: relative;
    z-index: 5;
    top: 70px;
    left: 39px;
}

.contact__espacement {
    padding-top: 250px;
}

.contact__case {
    border: 3px solid rgba(221, 214, 144, 0.85);    
    background: #CDBFAE;
    width: 286px;
    flex-shrink: 0;
}

.contact__label {
    color: #CDBFAE;
    font-family: Averia Libre;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.contact__case--petite {
    border: 3px solid rgba(221, 214, 144, 0.85);
    background: #CDBFAE;
    width: 286px;
    height: 33px;
    flex-shrink: 0;
}

.contact__bouton {
    border: 3px solid #CDBFAE;
    background: #75724a;
    width: 286px;
    height: 33px;
    flex-shrink: 0;
    color: #CDBFAE;
    font-family: Averia Libre;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
        
}

.contact__bouton--conteneur {
    padding-left: 4px;
    margin-top: 10px;
}

.contact__texte--conteneur {
    position: relative;
    z-index: 5;
    width: 272px;
    height: 64px;
    flex-shrink: 0;
    top: 70px;
    left: 67px;

}
.contact__texte {
    width: 226px;
    height: 64px;
    flex-shrink: 0;
    color: var(--Or, #DDD690);
    text-align: center;
    font-family: Averia Libre;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%
}