.contact__main {
    background-color: var(--rouge-accentuation-2, #A4261E);
}

.contact__titre--texte {
    color: var(--rouge-accentuation, #E5000C);
}

.contact__cadre--conteneur {
    position: absolute;
    z-index: 3;
    padding-left: 20px;
    
}

.contact {
    position: relative;
    z-index: 5;
}

.contact__espacement {
    padding-top: 480px;
}