.filmo__affiche--conteneur {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.filmo__affiche--image {
    border: 5px solid var(--Or, #DDD690);
    width: 75%;
    height: auto;
}

.filmo__affiche--titre {
    color: var(--Violet-titres, #510056);
    text-align: center;
    font-family: Bodoni Moda;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.filmo__description {
    padding-left: 5%;
    width: 90%;
    height: auto;
    flex-shrink: 0;
    color: #000;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%
}

.filmo__barre {
    border: none;
    width: 258.031px;
    height: 1px;
    background: var(--Violet-titres, #510056);
    margin-top: 20px;
}