.footer {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: var(--Rouge-header, #9A0606);
    display: flex;
    margin: 0;


}

.footer__navigation {
    width: 216px;
    height: auto;
    flex-shrink: 0;
    

}

.footer__navigation--item {
    list-style: none;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;


}

.footer__boutonLangue--conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

}

.footer__boutonLangue--bouton {
    width: 51px;
    height: 27px;
    flex-shrink: 0;

}

.footer__contact {

}

.footer__contact-texte {

}

.footer__mentions {

}

.footer__mentions--texte {
    color: #FFB9B9;
    font-family: Habibi;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.footer__logoMMI {

}

.footer__logoMMI--image {

}