.footer {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: var(--Rouge-header, #9A0606);
    margin: 0;


}

.footer__navigation {
    display: flex;
    width: 216px;
    height: auto;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
    

}

.footer__navigation--item {
    list-style: none;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;


}

.footer__boutonLangue--conteneur {
    position: relative;
    z-index: 4;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    float: right;
    padding-top: 10px;
}

.footer__boutonLangue--bouton {
    width: 51px;
    height: 27px;
    flex-shrink: 0;

}

.footer__contact {
    width: 240px;
    height: 22px;
    flex-shrink: 0;
}

.footer__contact--texte {
    color: #FFF;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}

.footer__mentions {
    width: 240px;
    height: auto;
    flex-shrink: 0;

}

.footer__mentions--texte {
    color: #FFB9B9;
    font-family: Habibi;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.footer__logoMMI {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.footer__logoMMI--image {
    width: 60px;
    height: 42px;
    flex-shrink: 0;

}