.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--Rouge-header, #9A0606);
    padding-top: 55px;
    
}

.menu--barre {
    width: 375px;
    height: 2px;
    flex-shrink: 0;
    color: var(--Or, #DDD690);
    border: none;
    background: var(--Or, #DDD690);
    transform: translate(0%, 8px);
    z-index: 1001;
    
}

nav>ul>img {
    display: flex;
    width: 67px;
    height: 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    float: right;
    transform: translate(-60%, -13%);
}

nav>ul {
    color: var(--Or, #DDD690);
    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    
}

nav>ul>li {
    list-style-image: url(/public/img/barre-list-style.svg);
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-top: 6px;
    padding-bottom: 6px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #FFF;
}

.menu__item--bas {
    margin-bottom: 20px;
}

.menu__titre--barre {
    border: none;
    width: 137px;
    height: 4px;
    flex-shrink: 0;
    background: var(--Or, #DDD690);
    transform: translate(-45%, -100%);
    
}